/resources/public/js/*
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env
/.sass-cache
/.shadow-cljs
node_modules
/resources/public/test-build/
/.dir-locals.el
/resources/public/css/site.css
