.form-wrapper {

    position: relative;

    &__loading-div {
        @include loading-wrapper;

        &--inactive  {
            display: none;
        }
    }

    &__submit-button-container {
        text-align: center;
    }
    
}
