.input-wrapper {

    padding-bottom: 5px;

    &__label {
        display: inline-block;
        padding-right: 10px;
        min-width: 100px;
        text-align: right;
    }

    &__input {
        min-width: 250px;
        max-width: 1000px;
        width: 20rem;
    }
}
