.message-box {

    box-shadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 5px;
    margin: 5px;

    &--error {
        background-color: lightcoral;
    }

    &--success {
        background-color: lightgreen;
    }

    &__message {
    }

}
