.message-box {

    text-align: center;
    border-radius: 10000px;

    &--error {
        background-color: lightcoral;
    }

    &--success {
        background-color: lightgreen;
    }

    &__message {
    }

}
