.template-sections-form {

    &__label {
        @include input-label;
        text-decoration: underline;
    }

    &__inputs-container {
        @include input-content;
        padding-left: 30px;
        width: unset;
    }
    
}
