.template-sections-form {

    &__label {
        @include input-label;
        text-decoration: underline;
    }

    &__inputs-container {
        @include input-section;
    }

    &__section-input {
        border-bottom: 1px solid grey;
        border-top: 1px solid grey;
    }
    
}

.template-section-form-action-buttons {
    
    padding-left: 40px;
    margin: 5px;
    
}
