@mixin input-label {
    display: inline-block;
    padding-right: 10px;
    min-width: 100px;
    text-align: right;    
}

@mixin input-content {
    width: 400px;
    display: inline-block;
}

@mixin input-section {
    padding-left: 30px;
    display: block;
}
